%h3 
  = @user.name
  profile

= render :partial=>'form', :locals=>{:path_var=>user_profiles_path(@user, @profile)}  

= link_to 'Show', user_profiles_path(@user)
\|
= link_to 'Home', user_path(@user)
