#goal_digest
  - goals.each do |g|
    %p
      Goal: 
      = g.name
    - unless g.tracked_activities.empty?
      Goal-related activities
      %ul
        - g.tracked_activities.each do |a|
          %li
            = a.description
          - unless a.entries.for_dates(from_date, through_date).empty?
            = render :partial => 'entries/list_entries', :locals=>{:entries=>a.entries.for_dates(from_date, through_date)}
