#project_digest
  - projects.each do |p|
    %p
      Project name:
      = p.name
    = render :partial => "goal_digest", :locals=>{:goals=>p.goals, :from_date=>from_date, :through_date=>through_date}
