%h1 How Much is your Time Worth?

%p Track your time, make the best use of it.

%h2 How much are you worth per hour?
%p
  You may work a regular day job and get paid an hourly rate.  Your time is probably worth more than you're getting paid.  But is it really?  How do you spend your hours?

%h2 The Solution
%p  
  This app will help you keep track of how your time is spent and help you make choices to maximize the worth of your time.
%p
  Identifying things that are not as valuable to your time can be easy for some things, and other times not so easy.
%p
  For instance, easy things include playing phone and internet games, checking your news feed, twitter, facebook, etc are things which take up our time in small chunks, which can add up to large chunks of our time.
%p
  Then there are things which are not as easy to identify, such as small tasks that we can do ourselves, but could be handled by other resources and free up our time.
%p
  This app will help you track your time, and identify resources that can help increase the value of your time.
%h2
  So how do you put a value on your time?
%p
  This is subjective, and it's up to you.
  %ul
    %li Set a goal for how much you want your time to be worth
    %li Log your activities and work toward making your time worth what you want it to be.
%p
  The aim is to help you identify things that get in your way so that you can limit those things and make your time worth what it should be.
%p
  For a demonstration,
  = link_to "go to the tutorial.", home_tutorial_path
%p
  To get started
  = link_to "Create a profile,", new_user_registration_path
  = link_to "Log In", new_user_session_path
  \,
  or 
  = link_to "give it a test drive", home_guest_path, :method=>:post