%ul
  %li
    %b Create a project
    %ul
      %li Set a project start date if the project is in progress or ready to begin
      %li Leave a project start date pending if its further down the line
  %li
    %b Create an objective
    %ul
      %li
        An objective should be a small task, goal, or milestone within the project
      %li
        If the project has already begun or something you're already working on, an objective can be whatever you're currently trying to get done to get some piece of the project complete.
      %li
        If you've just finished an objective, create it anyway, mark it as complete, and create a new objective
  %li
    %b Create an activity that you do towards completing an objective
    %ul
      %li An objective could have one activity or many activities that are done within completing the objective
      %li Be as granular here as necessary to list out what steps involved in completing the objective
      %li 
        Tag an activity
        %ul
          %li You start with default tags of productive, neutral, and non-productive.  But you can create as many as you want, or edit existing ones.
          %li You may want to keep track of activities that are done that don't necessarily contribute toward completing the objective
          %li By keeping track of all your activities, you can identify where time and effort is being spent
      %li
        Tags have an associated value.
        %ul
          %li Productive activities have a positive value
          %li Neutral activities have a zero value
          %li Non-productive activities have a negative value
  %li
    %b Log when you've done an activity by creating an activity entry
    %ul
      Record that you've done an activity toward completing the objective.
= link_to "Back to the beginning", root_path