UserDigestNotifier#weekly_progress_report

= @greeting + ", find me in app/views/user_digest_notifier/weekly_progress_report.text.haml"

Hi
= @user.name

Here is your weekly progress report.

And things will go here.
