%b
  activities

%ul
- @activities.each do |activity|
  %li
    = link_to activity.description, [activity.user, activity]

%br

= link_to 'New Activity', new_user_activity_path(@user)
\|
= link_to 'Back to User', user_path(@user)
